<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lexify</title>
    {% load static %}
    <meta name="author" content="Alexander Plesovskikh">
    <link rel="icon" type="image/x-icon" href="{% static 'images/fav.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/fav.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <style>
    .warn-js {
      display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: brown;
  color: white;
  text-align: center;
    }
  </style>
  </head>
  <body>
    <div class="warn-js">
    <h1 class="text-center">⚠️ Для корректной работы сайта необходимо включить JavaScript</h1>
  </div>
  </body>
  <script>
    window.location.href = '/';
  </script>
</html>

<!-- 
This HTML document serves as a warning page for users who have JavaScript disabled in their browsers. 
The page is structured as follows:

1. Head Section: 
   - Contains metadata such as character set, viewport settings for responsive design, and the title of the page ("Lexify").
   - The `{% load static %}` tag is used for loading static files in a Django template.
   - Author information is included via a meta tag.
   - Links to favicon and apple-touch-icon for branding.
   - A link to Bootstrap CSS for styling is included, ensuring the page is styled according to Bootstrap's framework.

2. Styles: 
   - A CSS style block defines the `.warn-js` class, which styles the warning message to be centered, with a brown background and white text.

3. Body Section: 
   - Contains a single `<div>` with the class `warn-js`, displaying a message that informs users they need to enable JavaScript for the website to function properly. The message is emphasized with a warning emoji (⚠️).
-->